<%= provide(:title, "Users") %>

<h1 class="ui header">Listing users</h1>

<%= will_paginate class: "ui secondary inverted menu" %>

<div class="ui inverted divider"></div>

<div class="ui small inverted animated divided list">
  <%= render @users %>
</div>

<%= will_paginate %>

<%= link_to new_user_path, class: "ui black animated button" do %>
  <div class="visible content">New User</div>
  <div class="hidden content">
    <i class="user icon"></i>
  </div>
<% end %>
