<% provide :title, 'Sign up' %>

<h1>Sign up</h1>


<%= form_for @user, url: signup_path do |f| %>

  <%= render 'shared/error_messages' %>

  <% if @user.errors.any? %>
    <div class="ui attached form segment">
  <% else %>
    <div class="ui top attached form segment">
  <% end %>

    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>
    </div>

  </div>

  <div class="bottom attached ui buttons">
    <%= f.submit "Create my account", class: "ui button" %>
    <div class="or"></div>
    <%= link_to 'Back', root_path, class: "ui button" %>
    </div>
  </div>

<% end %>
