<div class="ui page grid masthead segment">
  <div class="column">
    <div class="ui pointing secondary menu">
      <%= link_to 'Picture Poll On Rails', root_path, class: 'header item' %>
      <div class="right menu">
      <% [ ['Authors', authors_path, 'camera retro'],
	    ['Pictures', pictures_path, 'photo'],
	    ['Users', users_path, 'user'],
	  ].each do |name, url, icon| %>
	<%= link_to url, class: 'item' do %>
	  <i class="<%= icon %> icon"></i><%= name %>
	<% end %>
      <% end %>

      <% if signed_in? %>
	<%= link_to "Profile", user_path(current_user), class: 'item' %>
	<%= link_to "Logout", signout_path, method: "delete", class: 'item' %>
      <% else %>
	<%= link_to "Signup", signup_path, class: 'item' %>
	<%= link_to "Login", signin_path, class: 'item' %>
      <% end %>
      </div>
    </div>
  </div>
</div>
